*{
    margin:0;
    padding:0;
}

/* Layout Básico */

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu{
    background-color: rgb(255, 166, 0);
    width: 100%;
    height: 5em;
    display: flex;
    flex-wrap: wrap;
}

#menu img{
    margin-top: 1em;
    margin-right: auto;
}

#menu ul{
    margin-left: auto;
    list-style: none;
    margin-top: 2em;
    margin-right: 30px;
}

#menu ul li{
    display: inline;
    margin: 10px;
}

#menu ul li a{
    text-decoration: none;
    color: white;
}

.container{
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
}
.item{
    border-radius: 12px;
    box-shadow: 12px 12px 12px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;

    background-color: rgba(85, 85, 85, 0.521);
}
.item2{
    border-radius: 12px;
    box-shadow: 12px 12px 12px ;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 700px;

    background-color: rgba(85, 85, 85, 0.521);
}

/* Formulários da página */

.titulo{
    margin-top: 1em;
    margin: 1em;
}

.formulario label{
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    display: block;
    font-size: large;
}
.formulario input{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    display: block;
    border: none;
    border-radius: 9px;
    box-shadow: 12px 12px 12px;
    margin-left: 10px;
    height: 3em;
    width: 90%;
}
.formulario button{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    width: 200px;
    color: white;
    border-radius: 12px;
    box-shadow: 12px 12px 12px black;
    border: none;
    background-color: darkgray;
    align-self: center;
}
.formulario button:hover{
    background-color: rgb(214, 214, 214);
}
.formulario select{
    border: none;
    margin-left: 10px;
    display: block;
    border-radius: 10px;
    height: 3em;
    width: 200px;
    box-shadow: 12px 12px 12px black;
}
.formulario textarea{
    margin-top: 20px;
    margin-left: 10px;
    height: 220px;
    width: 90%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 9px;
    box-shadow: 12px 12px 12px black;
}

p{
    margin: 10px;
    color: white;
    font-size: medium;
}

table{
    background-color: aliceblue;
    height: 50%;
    width: 100%;
    border-radius: 12px;
}
tr{
    background-color: rgb(255, 255, 255);
}
td{
    text-align: center;
}


#rodape{

}
